<template>
  <v-app>
    <v-toolbar dark color="primary" app>
      <v-toolbar-title v-text="'Дружеметр ЦыКаТэ'"></v-toolbar-title>

      <v-spacer></v-spacer>
      <v-btn>Регистрация</v-btn>
      <v-btn>Войти</v-btn>

    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
    <v-footer :fixed="fixed" app>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data() {
    return {};
  }
};
</script>
